*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'FS Meridian Trial';
    font-style: normal;   
    font-weight: 500;                                       
    src: local('FS Meridian Trial') , url(https://fonts.cdnfonts.com/s/92037/FSMeridianTrial-Medium.woff) format('woff');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    src: local('General Sans'), url(https://fonts.cdnfonts.com/s/85793/GeneralSans-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;                                            
    src: local('Poppins'), url(https://fonts.cdnfonts.com/s/16009/Poppins-Light.woff) format('woff');
}

/* layout */

body {
    background-color: #111826;
    padding: 0;
    margin: 0;
    font-family: 'General Sans';
    color: #fff;
}

.container {
    width: 95%;
    max-width: 1200px;
    padding: 2rem 1.5rem;
    margin: 0 auto;
}

.nav_logo {
    width: 110px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar ul {
    background-color: #111826;
    position: fixed;
    top: -15px;
    right: -200px;
    width: 200px;
    height: 50vh;
    padding: 1.5rem 2rem;
    color: #fff;
    transition: left 0.5s;
}

.menu_icon {
    width: 32px;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    width: 25px;
}

.double_col {
    display: grid;
}

.flex_one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -2rem;
}


.pixel {
    background-image: url(images/Rectangle\ mobile.png);
    background-repeat: no-repeat;
    background-position: bottom;
   
}

.img_one {
    width: 100%;
    margin-bottom: -1rem;
}

.arrow_icon_purple {
  background-image: url(images/Ellipse\ 94.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  margin-top: 4rem;
}

.flex_two,
.flex_three,
.img_flex {
    display: none;
}

.left_col {
    position: relative;
}

.oval_vector {
    background-image: url(images/oval\ circle\ mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    position: absolute;
    top: 9.5rem;
    left: -1.5rem;
    z-index: -1;
    width: 100%;
}

button {
    background-color: #1FC77E;
    color: inherit;
    border: none;
    border-radius: 6px;
    padding: 1.2rem 3.5rem;
    
}

.light_btn {
    font-size: 1.2em;
    margin: 0 auto;
    display: block;
    font-weight: 100;
}



/* Typography */

ul li {
    list-style: none;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 2.8rem;
}

.nav_link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.left_col_text {
    font-family: 'FS Meridian Trial';
    font-size: 2.5em;
    font-weight: 500;
    
}

br {
    display: none;
}

.container h2,
.container h3 {
    font-weight: 500;
}

.container h2 {
    margin-top: -1rem;
}

.container p {
    font-weight: 100;
    font-size: .85em;
}

.container h3 {
   font-size: 1em;
}



@media (min-width: 750px) {
    .close,
    .open {
        display: none;
    }

    .navbar {
        height: 0;
    }

    .navbar ul {
        position: relative;
        left: -9rem;
        top: -3.5rem;
        background-color: transparent;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    ul li {
        margin-right: -5rem;
    }

    .nav_link {
        font-weight: 100;
        font-size: 1em;
    }

    .double_col {
        grid-template-columns: auto auto;
        gap: 20px;
    } 
    
    .right_col {
        order: 2;
    }

    .left_col {
        order: 1;
    }

    .flex_one {
        justify-content: flex-start;
        align-items: baseline;
        margin-top: 4rem;
        margin-right: 5rem;
    }

    .pixel {
        background-image: url(images/Rectangle\ desktop.png);
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 6rem 13rem;
        width: 100%;
    }

    .pixel::before {
        content: url(images/group-ppl.png);
        position: absolute;
        top: 7.68rem;
        left: 61rem;
    }

    .img_one {
        display: none;
    }

    .flex_two,
    .flex_three,
    .img_flex {
        display: block;
    }

    .flex_two{
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        margin-top: 2rem;
    }

    .oval_vector {
        background-image: url(images/oval\ circle.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 4rem;
        width: 50vw;
        top: 17.5rem;
    }

    .light_btn {
        margin: 0;
    }

    .arrow_icon_purple {
        padding: 1.5rem;
        width: 8vw;
        margin-left: -3rem;
    }

    .arrow_icon_green {
       background-image: url(images/Ellipse\ 95.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       padding: 1.5rem;
       width: 6vw;
       margin-right: -4rem;
    }

    .pixel-white {
        background-color: #F4FAFF;
        height: 92px;
        width: 294px;
        text-align: center;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
    }

    .imgtwo {
        position: relative;
    }

    .img_two {
        width: 14vw;
        position: absolute;
        top: -2rem;
        left: 3rem;
    }

    /* typography */
    .left_col_text {
        font-size: 5em;
    }

    .container h2 {
        font-size: 2.2em;
        font-weight: 700;
    }

    .container h3 {
        font-size: 1.5em;
    }

    .container p {
        font-size: 1.2em;
        opacity: 75%;
    }

    br {
        display: block;
    }
}